body {
    margin: 0;
    padding: 0;
    background-image: url(./Buffet\ Barbecue\ Display\ Rack\ Background\ Material.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Borel', 'Oswald', 'Poppins', sans-serif;
}

#container {
    color: rgb(221, 114, 14);
    align-items: center;
    max-width: 300px;
    margin: 10vh auto 0;
    padding: 0;
}

input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    body {
        background-size: 100% auto;
        background-size:cover;
        background-position: center;
        background-repeat:repeat ;
    }

    #container {
        max-width: 90%;
    }
}